<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio</title>
     <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/menu_administrador"><img style="width: 100px; height: 40px; margin-top: -10px;" src="img/images.png"></a>
          </div>
          <ul class="nav navbar-nav">
            <li ><a href="/gestion_novedades">Gestionar Novedades</a></li>
            <li><a href="/gestion_equipos">Gestionar Equipos(Computo)</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/"><span class="glyphicon glyphicon glyphicon-home"></span> SALIR</a></li>
          </ul>
        </div>
    </nav> 
    
    <img src="https://i.ytimg.com/vi/3IpwqKHmlf4/maxresdefault.jpg" alt="uniajc" style="width: 1348px; height: 658px; margin-top: 20px ">
    <!--<img src="https://i.ytimg.com/vi/3IpwqKHmlf4/maxresdefault.jpg" class="img-rounded" alt="uniajc" style="width: 1360px; height: 660px; margin-top: 50px ">-->
</body>
</html>